<p><%= @the_results/"div#results div.flashMsg" %></p>
<div><form method="post" action="http://www.samknows.com/broadband/checker2.php?p=summary">
<input type="hidden" value="<%= params[:post_code] %>" name="postcode"/>
<input type="submit" value="Click here"/> to go to the <a href="http://www.samknows.com/broadband/">Sam Knows Broadband</a> website for more info.
</form></div>
