<p>Is <span class="council"><%= @council %></span>, and you are in the <span class="ward"><%= @ward %></span> ward.</p>
<p><a href="http://www.writetothem.com/who?pc=<%= params[:post_code] %>">Click here</a> to visit the <a href="http://www.writetothem.com/">Write To Them</a> website for more info.</p>
<script type="text/javascript">
  $('council').fire('requires:council', '<%= @council %>');
</script>