<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>One Stop Shop :: Enter Your Postcode</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  </head>
  <body>
    <h1>One Stop Shop</h1>
    <%= are_we_sorry? %>
    <form action="/for" method="get">
      <label for="post_code">Enter Your Postcode:</label>
      <input type="text" name="post_code" size="30"/>
    </form>
  </body>
</html>