<p>Is <span class="mp_name"><%= @mp.full_name %></span> (<span class="mp_party"><%= @mp.party%></span>) for the constituency of <span class="mp_constituency"><%= @mp.constituency.name %></span>.</p>
<p><a href="<%= mp_url(@mp) %>">Click here</a> to visit <a href="">They Work For You</a> for more info on your MP.</p>
